---
import RouteCombination from "../../components/RouteCombination.vue";
import Sources from "../../components/Sources.vue";
import Layout from "../../layouts/Layout.astro";

import { potentialCombinations } from "../../nodes/all";

const combinationMap: { [location: string]: string[] } = {};

potentialCombinations.forEach((combos) => {
  const source = combos[0];
  const target = combos[1];

  let array = combinationMap[source];

  if (!array) {
    array = [];
    combinationMap[source] = array;
  }

  array.push(target);
});

const sortedCombinations: { [location: string]: string[] } = {};

for (const key of Object.keys(combinationMap).sort((a, b) =>
  a.localeCompare(b)
)) {
  combinationMap[key].sort();
  sortedCombinations[key] = combinationMap[key];
}
---

<Layout title="Routes">
  <div class="route-header">
    <h2>We have {potentialCombinations.length} routes!</h2>
    Click a Source to jump to that Source
  </div>

  <Sources sources={Object.keys(sortedCombinations)} />

  {
    Object.keys(sortedCombinations).map((key) => (
      <div id={key}>
        <RouteCombination
          source={key}
          locations={sortedCombinations[key]}
        />
      </div>
    ))
  }
</Layout>

<style scoped>
  .routes-container {
    margin: auto auto;
    display: grid;
    /* grid-template-columns: repeat(3, 1fr); */
    gap: 10px;
  }

  .route-header {
    outline: 1px solid var(--gray-500);
    padding: 25px;
    margin-bottom: 50px;
  }

  h2 {
    margin-top: 0;
  }
</style>
