---
import Layout from "../../layouts/Layout.astro";
import { allZones } from "../../nodes/zones";

import { zoneInfo } from "../../nodes/all";
import ZoneCard from "../../components/ZoneCard.vue";

export function getStaticPaths() {
  const zonesParams = [];
  for (const zone of allZones)
    zonesParams.push({
      params: { zone: zone },
    });

  return zonesParams;
}

const { zone } = Astro.params;

const { Type, Cities } = zoneInfo[zone];
---

<Layout title={zone}
  ><div class="zone-container">
    <div class="zone-header">
      <h2>We currently have {Cities.length} locations in {zone}</h2>
    </div>
    <ZoneCard
      zoneName={zone}
      zoneType={Type}
      cities={Cities}
    />
  </div>
  <style>
    .zone-header {
      outline: 1px solid var(--gray-500);
      padding: 25px;
      margin-bottom: 50px;
    }
    h2 {
      margin: 0;
    }
  </style>
</Layout>
