---
import Layout from "../../../layouts/Layout.astro";

import { cy, targetToSourceToPrettyArray } from "../../../nodes/graph";
import { potentialCombinations } from "../../../nodes/all";

import StepCard from "../../../components/StepCard.vue";

export function combinationsToAstro() {
  const output = [];

  for (const [start, end] of potentialCombinations) {
    output.push({
      params: { start: start, end: end },
    });
  }

  return output;
}

export function getStaticPaths() {
  return combinationsToAstro();
}

const { start, end } = Astro.params;

const [route, distance] = targetToSourceToPrettyArray(cy, start, end);
---

<Layout title="Route">
  <div>{start} to {end}!</div>

  <div>
    Route found in {distance} steps
    <ul>
      {
        route.map((step) => (
          <StepCard
            step={step.step}
            edge={step.edge}
            source={step.source}
            target={step.target}
            via={step.via}
            edgeType={step.edgeType}
          />
        ))
      }
    </ul>
  </div>

  <style scoped></style>
</Layout>
