---
import Layout from "../../../layouts/Layout.astro";

import { cy, targetToSourceToPrettyArray } from "../../../nodes/graph";
import { potentialCombinations } from "../../../nodes/all";

import StepCard from "../../../components/StepCard.vue";

export function combinationsToAstro() {
  const output = [];

  for (const [start, end] of potentialCombinations) {
    output.push({
      params: { start: start, end: end },
    });
  }

  return output;
}

export function getStaticPaths() {
  return combinationsToAstro();
}

const { start, end } = Astro.params;

const [route, distance] = targetToSourceToPrettyArray(cy, start, end);
---

<Layout title="Route">
  <div class="route-header">
    <h1>
      <a href={`/locations/${start}`}>{start}</a> to{" "}
      <a href={`/locations/${end}`}>{end}</a>
    </h1>
    {
      distance === Infinity ? (
        <div>
          <h2>
            Sorry! Cannot find a route between Stonetooth Fortress and Skywatch.
          </h2>
          <p>
            Route not currently possible. If you believe this to be a mistake,
            please add an issue to the issue tracker.
          </p>
        </div>
      ) : (
        <div>
          <h2>Route found in {distance} steps</h2>
        </div>
      )
    }
  </div>

  <div class="step-card-container">
    <ul>
      {
        route.map((step) => (
          <StepCard
            step={step.step}
            edge={step.edge}
            source={step.source}
            target={step.target}
            via={step.via}
            edgeType={step.edgeType}
          />
        ))
      }
    </ul>
  </div>

  <style scoped>
    ul {
      /* outline: 1px solid gold; */
      padding-inline-start: 0px;
    }

    .route-header {
      display: flex;
      flex-direction: column;
      align-items: center;
      outline: 1px solid var(--gray-700);
      padding: 28px;
    }

    .route-header > * {
      /* outline: 1px solid red; */
    }
  </style>
</Layout>
